# Ignore everything
/*
!.gitignore

# Add exceptions for what we want to actually include
!/devilspie
!/fish
!/fortunes
!/irssi
!/lazygit
!/hammerspoon
!/newsboat
!/nvim
!/ohmyposh
!/ranger
!/tmux
!/x220
!/xplr
!/yazi
!/zsh
!/xaero-minimap

!README.md
!atuin.toml
!wezterm.lua
!zshrc

# Now add back in some things to ignore
/tmux/plugins
/nvim/.session.vim
