# Ignore everything
/*
!.gitignore

# Add exceptions for what we want to actually include
!/devilspie
!/fish
!/fortunes
!/lazygit
!/hammerspoon
!/newsboat
!/nvim
!/ranger
!/tmux
!/x220
!/xplr
!/zsh
!/xaero-minimap

!README.md
!alacritty.yml
!atuin.toml
!bashrc
!bat.config
!emacs
!ghci
!micro.json
!nanorc
!p10k.zsh
!pureline.conf
!starship.toml
!tmux.conf
!vscode-settings.json
!zshrc

# Now add back in some things to ignore
/tmux/plugins
